h2.intro {
  color: green;
}

p.intro {
  color: red;
}

img.intro {
  color: yellow;
}

.important {
  color: purple;
  style: italic;
  font-family:fantasy;
}

.cool-words {
  color: blue;
  style: bold;
  font-family:monospace;
}
